.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    z-index: 3;
    &__link {
        width: 20px;
        height: 20px;
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        height: 150px;
        width: 25px;
        span {
            width: 150px;
            display: block;
            transform: rotate(-90deg) translate(-30%, -260%);
        }
    }
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 21px;
    z-index: 3;
    span {
        display: block;
        margin: 0 0 0 auto;
        width: 30px;
        height: 3px;
        background-color: #151812;
        margin-bottom: 6px;
        &:nth-child(2) {
            width: 100%;
        }
        &:nth-child(3) {
            margin-bottom: 0;
        }
    }
    // &_active {
    //     span {
    //         margin-bottom: -2px;
    //         &:nth-child(1) {
    //             transform: translateY(3px) rotate(-45deg);
    //         }
    //         &:nth-child(2) {
    //             display: none

    //         }
    //         &:nth-child(3) {
    //             transform: translateY(3px) rotate(45deg);

    //         }
    //     }
    // }
}

.overlay {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.75);
    .menu {
        position: absolute;
        left: 0;
        width: 345px;
        // height: 100%;
        background-color: $orange;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        top: 0;
        // left: -100%;
        // transition: 0.7 all;
        // &-active {
        //     left: 0;
        // }
        &__close {
            position: absolute;
            right: 24px;
            top: 24px;
            width: 30px;
            height: 3px;
            background-color: #000000;
            transform: rotate(133deg);
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 3px;
                background-color: #000000;
                transform: rotate(95deg);
            }
        }
        &__list {
            margin-top: 140px;
            margin-left: 40px;
            // display: flex;
            // flex-direction: column;
            // justify-content: start;
            // align-items: flex-start;
            &-item {
                list-style-type: circle;
                list-style-position: inside;
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-link {
                font-weight: 700;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }
        &__social {
            width: 90px;
            margin: 0 auto;
            margin-top: 290px;
            display: flex;
            justify-content: space-between;
            &-item {
                transform: rotate(90deg);
            }
        }
    }
}